
:root {
  /**Colors*/
  --c-white: hsl(0, 0%, 100%);
  --c-green: hsl(161, 58%, 64%);
  --c-black: hsl(0, 0%, 0%);
  --c-dark-brown: hsl(21, 29%, 25%);

  --c-primary: var(--c-white);
  --c-secondary: var(--c-green);
  --c-tertiary: var(--c-black);
  --c-quaternary: var(--c-dark-brown);
  /**Font*/
  --f-body: 'Lato';
  --f-heading: 'Raleway';
  --f-extra: 'Lato Light';

  /*grid*/

  --unit: .5rem;
}




